---
layout: default
robots: noindex
---

<!--  -->

<section class="post">


<h3> Research Interests </h3>

I am interested in climate change, climate-ecosystem interactions, hydrology, and climate modeling. 

<h3> Publications </h3> <br>
<i> In Preparation/Submitted </i>

2. Nielsen, Miriam; Greatrex, Helen, Kruczkiewicz, Andrew, ”A systematic review of flash flood risk,” (In preparation, planned submission December 2019). <br>
1. Kruczkiewicz, Andrew; Braun, Mélody; Greatrex, Helen; Nielsen, Miriam; Hoffman-Hernandez, Laura; Siahaan, Kara; Padilla, Lace; Llamanzares, Brian; Flamig, Zachary; McClain, Shanna, ”Moving from Availability to Use of Flood Risk and Flood Monitoring Data to Inform Decision Making for Preparedness and Response,” AGU Books, (Accepted 2019). <br> <br>

<a href= "https://scholar.google.com/citations?user=pNhZXOEAAAAJ&hl=en"> Google Scholar </a> & <a href = "https://www.researchgate.net/profile/Miriam_Nielsen2" > Research Gate </a>

<h3> Recent Video </h3> <br> 

<iframe width="560" height="315" src="https://www.youtube.com/embed/jvGJRJ-jX70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br> <br> <br> 

<h3> Recent Posts </h3> 

</section>

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
            {% if post.tags.size > 0 %}
            &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
            {% endif %}
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>



  <hr class="post-list__divider ">


  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}
</div>

